.menuPage {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  height: 100vh;
}

.titleContainer {
  width: min(75%, 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20%;
}

.menuLogo {
  width: 100%;
}

.menuContainer {
  width: 100%;
  height: min(35%, 250px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(216, 217, 217, 0.167);
  max-width: 500px;
}

.menuBtnsContainer {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


/* ||  MQ  || */

/* || TABLET  */
@media screen and (min-width: 768px) {
  .menuPage {
    flex-direction: column;
    justify-content: center;
    gap: 20px;
  }

  .titleContainer {
    width: 60%;
    max-width: 450px;
    margin-top: 0;
  }

  .menuContainer {
    width: min(60%, 500px);
    height: min(30%, 350px);
  }
}

/* || PC  */
@media screen and (min-width: 1024px) {
  .menuPage {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .menuContainer {
    width: 40%;
    height: 60%;
    max-width: 400px;
    max-height: 600px;
  }

  .titleContainer {
    width: 40%;
    height: 80%;
    max-width: 500px;
  }
}

/* || MOBILE LANDSCAPE  */
@media screen and (max-height: 430px) and (min-aspect-ratio: 7/4) {
  .menuPage {
    flex-direction: row-reverse;
    justify-content: space-evenly;
  }

  .menuContainer {
    width: 40%;
    height: 55%;
    max-width: 400px;
    max-height: 300px;
  }

  .titleContainer {
    width: min(35%, 250px);
    height: auto;
  }
}