.infoPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 10%;
  padding: 100px 30px;
  height: 100vh;
}

.textContainer {
  flex-grow: 1;
}

.textContainer h1 {
  font-size: 2rem;
}

.textContainer p {
  margin-top: 1.5rem;
  font-size: 1rem;
}

.imageContainer {
  padding-bottom: 30px;
}

.infoImage {
  width: 70%;
  height: auto;
}

/* ||  MQ  || */

/* || TABLET  */
@media screen and (min-width: 768px) {
  .infoPageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
  }

  .textContainer {
    flex-grow: 1;
    width: min(80%, 600px);
    padding-top: 10px;
  }

  .textContainer h1 {
    font-size: 3rem;
  }

  .textContainer p {
    font-size: 1.6rem;
  }

  .imageContainer {
    width: min(60%, 300px);
  }

  .infoImage {
    width: 100%;
    height: auto;
  }
}

/* || PC  */
@media screen and (min-width: 1024px) {
  .infoPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
    height: 100vh;
    padding: 0;
  }
  
  .textContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    flex-grow: 1;
    width: 60%;
    height: 90vh;
    padding-top: 5%;
    padding-left: 10%;
  }

  .textContainer h1 {
    margin-top: 0;
    font-size: 2.2rem;
  }

  .textContainer p {
    margin-top: 1rem;
    font-size: 1.3rem;
  }

  .imageContainer {
    width: 40%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-right: 5%;
  }

  .infoImage {
    width: 80%;
    height: auto;
  }
}

/* || MOBILE LANDSCAPE  */
@media screen and (max-height: 430px) and (min-aspect-ratio: 7/4) {
  .infoPageContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10%;
    height: 100vh;
  }

  .textContainer {
    flex-grow: 0;
    width: 70%;
    padding-top: 0%;
    padding-left: 0%;
  }

  .textContainer h1 {
    font-size: 1.6rem;
  }

  .textContainer p {
    font-size: 1.1rem;
  }

  .imageContainer {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: end;
  }

  .infoImage {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
}