.menuButton {
  font-family: inherit;
  width: 100%;
  font-size: 1.5rem;
  padding: 10px 0;
  border-radius: 11px;
  border: none;
  background-color: rgba(236, 22, 72, 0.555);
  color: rgb(224, 224, 224);
}

.menuButton:hover {
  background-color: rgba(236, 22, 72, 0.372);
}


/* ||  MQ  || */

/* || TABLET  */
@media screen and (min-width: 768px) {
  .menuButton {
    font-size: 1.5rem;
  }
}

/* || PC  */
@media screen and (min-width: 1024px) {
  .menuButton {
    font-size: 1.2rem;
  }
}

/* || MOBILE LANDSCAPE  */
@media screen and (max-height: 430px) and (min-aspect-ratio: 7/4) {
  .menuButton {
    font-size: 1rem;
  }
}
