.animalCardContainer {
  font-family: inherit;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(0, 0, 0, 15%);
  border: none;
  border-radius: 10px;
  padding: 20px;
  width: 90%;
  max-width: 500px;
}

.animalImg {
  width: 100%;
  border: none;
  border-radius: 10px;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.answerButtonContainer {
  display: flex;
  justify-content: space-between;
}

.answerBtn {
  font-family: inherit;
  flex-grow: 1;
  border: none;
  background-color: hsla(180, 100%, 100%, 0.584);
  border-radius: 5px 0 0 5px;
}

.answerBtnText {
  font-size: 1.4rem;
  font-weight: bold;
  color: hsla(0, 0%, 0%, 0.8);
}

.answerBtn:active {
  background-color: hsla(0, 0%, 79%, 0.447);
}

.soundBtn {
  flex-shrink: 0;
  width: 20%;
  padding: 5px 0;
  border: none;
  background-color: hsla(0, 0%, 100%, 0.808);
  border-radius: 0 5px 5px 0;
}

.soundImg {
  width: 40px;
}

.soundBtn:active {
  background-color: rgba(236, 236, 236, 0.8);
}

.skeleton {
  background: #eee;
  height: 200px;
  width: 100%;
  animation: shimmer 1.5s infinite;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}


/* ||  MQ  || */

/* || TABLET  */
@media screen and (min-width: 768px) {
  .animalCardContainer {
    flex-direction: column;
    max-width: 600px;
  }
}

/* || PC  */
@media screen and (min-width: 1024px) {
  .animalCardContainer {
    flex-direction: row;
    max-width: 800px;
  }

  .options {
    height: 100%;
    justify-content: space-evenly;
    gap: 20px;
  }

  .animalImg {
    width: 50%;
  }

  .answerButtonContainer {
    flex-grow: 1;
  }
}

/* || MOBILE LANDSCAPE  */
@media screen and (max-height: 430px) and (min-aspect-ratio: 7/4) {
  .animalCardContainer {
    flex-direction: row;
    width: 70%;
    height: 55%;
    max-width: 800px;
    max-height: 300px;
  }

  .options {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 5px;
  }

  .animalImg {
    width: 55%;
  }

  .answerButtonContainer {
    height: 100%;
  }

  .answerBtn {
    flex-grow: 1;
  }

  .answerBtnText {
    font-size: 1rem;
  }

  .soundImg {
    width: min(50%, 30px);
  }
}